*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Satoshi', sans-serif;
	font-size: 1rem;
	background: #003149;
	color: #f4f1ea;
}

header {
	display: flex;
	flex-direction: column;
}


.profile-pic {
	width: 100%;
	margin-bottom: 1em;
}

h1 {
	font-size: 1.7rem;
	font-weight: 700;
	text-align: center;
	margin: 0;
}

.subheading {
	margin: 0;
	font-size: 1.2rem;
	text-align: center;
	color: #ffd700;
}

.site-link {
	font-size: 1rem;
	margin: 1em auto 1.5em;
	color: #c9c0b0;
	text-decoration: none;
}

.links-btns {
	display: flex;
	justify-content: space-between;
	gap: 1.2em;
	margin: 0 2em 2em;
}

.link-btn {
	padding: .4em 2em;
	font-size: 1.1rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
	text-decoration: none;
	border-radius: .3em;
	flex: 1;
	align-items: center;
	gap: 0.5em;
}

.fa-envelope {
	width: 0.75em;
	color: black;
	margin: 0;
}

.email {
	color: black;
	background: #f4f1ea;
}

.fa-linkedin {
	width: 0.75em;
	margin: 0;
}

.linkedin {
	background: #0077B5;
	color: #f4f1ea;
}

section {
	margin: 0 2em;
}

h2 {
	font-size: 1.4rem;
	font-weight: 700;
}

.interests {
	margin-bottom: 3em;
}

footer {
	background: #001a29;
	padding: 1em 0;
	display: flex;
	justify-content: center;
	gap: 2em;
}

footer > a {
	text-decoration: none;
	color: #f4f1ea;
	font-size: 1.5rem;
}

@media (min-width: 600px) {
	.columns {
		display: flex;
	}

	.column-left, .column-right {
		flex: 1;
		min-width: 0;
	}

	h1 {
		font-size: 2.8rem;
		margin-bottom: 0.7em;
	}

	.profile-pic {
		width: 100%;
		max-width: 100%;
	}

	.subheading {
		font-size: 1.5rem;
	}

	.site-link {
		font-size: 1.1rem;
	}

	h2 {
		font-size: 2rem;
	}

	.links-btns {
		display: block;
	}

	.link-btn {
		font-size: 1.3rem;
		margin: 1em;
	}

	section {
		font-size: 1.3rem;
		line-height: 1.5;
	}

	footer {
		margin: 0;
		font-size: 2rem;
	}

}